@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/colours' as *;
@use '../../../styles/typography' as *;
@use '../../../styles/global' as *;

.warehouse__card {
	font-family: 'Titillium Web' ;
	border-top: 1px solid $cloud;
	display: flex;
	justify-content: space-between;

	&__section {
		padding: 0.6rem;
	}

	&__container {
		width: 45%;
	}

	&__label {
		font-size: 0.6875rem;
    line-height: 1.25rem;
    font-weight: 600;
		color: #5c667e;
    margin-top: 1rem;
	}

	&__item {
		font-size: 0.8125rem;
		color: #13182c;
    margin-top: 0.25rem;
	}

	&__link {
		color: #2e66e5;
		font-size: 0.8rem;
		font-weight: 600;
		text-decoration: none;
		display: flex;
		align-items: center;
	}

	&__status-green {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.6875rem;
    line-height: 1rem;
		color: #158463;
		background-color: rgba(21, 132, 99, 0.07);
		border-radius: 1.25rem;
		padding: 0.25rem 0.5rem;
		height: 1rem;
    width: fit-content ;
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;

	}

	&__status-orange {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.6875rem;
		color: #c94515;
		background-color: rgba(201, 69, 21, 0.07);
		border-radius: 1.25rem;
		padding: 0.25rem 0.5rem;
		height: 1rem;
    width: fit-content ;
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
	}

	&__btn-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
