@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/colours' as *;
@use '../../../styles/typography' as *;
@use '../../../styles/global' as *;

.card {
	font-family: 'Titillium Web' ;
	border-top: 1px solid gray;
	display: flex;
	justify-content: space-between;

	&__section {
		padding: 0.6rem;
	}

	&__container {
		width: 45%;
	}

	&__label {
		font-size: 0.7rem;
		color: #5c667e;
	}

	&__item {
		font-size: 0.8rem;
		color: #13182c;
	}

	&__link {
		color: #2e66e5;
		font-size: 0.8rem;
		font-weight: 600;
		text-decoration: none;
		display: flex;
		align-items: center;
	}

	&__btn-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
