.card {
	border-top: 1px solid gray;
	display: flex;
	justify-content: space-between;

	&__section {
		padding: 0.6rem;
	}

	&__container {
		width: 45%;
	}

	&__label {
		font-size: 0.7rem;
		color: #5c667e;
	}

	&__item {
		font-size: 0.8rem;
		color: #13182c;
	}

	&__status-green {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		color: #158463;
		background-color: rgba(21, 132, 99, 0.07);
		border-radius: 1.25rem;
		padding: 0.25rem 0.5rem;
		width: 3.8rem;
		height: 1.5rem;
	}

	&__status-orange {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		color: #c94515;
		background-color: rgba(201, 69, 21, 0.07);
		border-radius: 1.25rem;
		padding: 0.25rem 0.5rem;
		width: 3.8rem;
		height: 1.5rem;
	}

	&__btn-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__delete-btn {
		background: url("../../../assets/icons/delete.svg") no-repeat;
		cursor: pointer;
	}

	&__edit-btn {
		background: url("../../../assets/icons/edit.svg") no-repeat;
		cursor: pointer;
	}
}
