@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/colours' as *;
@use '../../../styles/typography' as *;
@use '../../../styles/global' as *;

.list__label{
  display: none;
  @include tablet{
    display: flex;
    flex-direction: row;
    width: 20%;
  }
    &-container5{

		display: none;
		@include tablet {
			display: flex;
			width: 100%;
			padding: 1% 5%;
			background: rgba(247, 248, 249, 0.7);
    }
		}
	}

