@use "variables" as *;
@use "colours" as *;
@use 'typography';
// mobile = 320px+

// tablet = 768px+
@mixin tablet {
	@media (min-width: $breakpoint-tablet) {
		@content;
	}
}

// desktop = 1280px+
@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin input-styling {
  border-radius: 20px;
  border: 1px solid $cloud;
  min-height: 36px;
  margin-bottom: 4px;
  padding-left: 16px;
}

@mixin form-label-styling {
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 4px;
}

@mixin form-error-handling {
  display: none;
  font-size: 12px;
  align-items: center;
  color: $red;
  gap: 4px;

}
@mixin page-header(){
  font-size: 1.75rem;
  line-height: 2.25rem;
  @include tablet{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin subheader {
	font-family: "Titillium Web";
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.75rem;

	@include tablet {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@mixin labels-links-buttons {
	font-family: "Titillium Web";
	font-weight: 600;
	font-size: 0.813rem;
	line-height: 1.25rem;

	@include tablet {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
}

@mixin table-header {
	font-family: "Titillium Web";
	font-weight: 600;
	font-size: 0.688rem;
	line-height: 1rem;

	@include tablet {
		font-size: 0.75rem;
		line-height: 1.125rem;
	}
}

@mixin body-large {
	font-family: "Titillium Web";
	font-size: 0.938rem;
	line-height: 1.625rem;

	@include tablet {
		font-size: 1rem;
		line-height: 1.75rem;
	}
}

@mixin body-medium {
	font-family: "Titillium Web";
	font-size: 0.813rem;
	line-height: 1.25rem;

	@include tablet {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
}

@mixin body-small {
	font-family: "Titillium Web";
	font-size: 0.688rem;
	line-height: 1rem;

	@include tablet {
		font-size: 0.75rem;
		line-height: 1.125rem;
	}
}