@font-face{
  font-family: "Titillium Web";
  src:  url("../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype"),
        url("../assets/fonts/TitilliumWeb-Regular.otf") format("opentype");
  font-weight: 400
}

@font-face{
  font-family: "Titillium Web";
  src:  url("../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype"),
        url("../assets/fonts/TitilliumWeb-SemiBold.otf") format("opentype");
  font-weight: 600
}

