@use "../../../styles/colours" as *;

.inventory-item {
	margin: 0 5%;
	// padding: 1.3rem;
	border-radius: 3px;
	background-color: $white;
	box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

	&__header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 5%;
	}

	&__Link {
		text-decoration: none;
	}

	&__title {
		display: flex;
		align-items: center;
	}

	&__edit {
		// background-color: $instock-indigo;
		border-radius: 1.25rem;
	}

	&__details {
		border-top: 1px solid $cloud;
		padding: 1rem;
	}
	&__label {
		font-size: 11px;
		font-weight: 600;
		color: $slate;
	}

	&__content {
		font-size: 13px;
		font-weight: 400;
		color: $instock-black;
	}

	&__status-green {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		color: #158463;
		background-color: rgba(21, 132, 99, 0.07);
		border-radius: 1.25rem;
		padding: 0.25rem 0.5rem;
		width: 3.8rem;
		height: 1.5rem;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.orange {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	color: #c94515;
	background-color: rgba(201, 69, 21, 0.07);
	border-radius: 1.25rem;
	padding: 0.25rem 0.5rem;
	width: 3.8rem;
	height: 1.5rem;
}

.green {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	color: #158463;
	background-color: rgba(21, 132, 99, 0.07);
	border-radius: 1.25rem;
	padding: 0.25rem 0.5rem;
	width: 3.8rem;
	height: 1.5rem;
}
