@use "../../../styles/colours" as *;
@use "../../../styles/global" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/typography" as *;

.component {
  font-family: "Titillium Web", sans-serif, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  margin: 0 1rem;
  &__title {
    @include page-header;
    margin-left: 0.75rem;
  }
  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid $cloud;
    padding: 2rem 1.5rem 1.5rem;
  }
}

.form {
  &__container {
    width: 100%;
    border-bottom: 1px solid $cloud;
    padding: 1rem;
    &--contacts {
      border-bottom: none;
    }
  }
  &__subtitle {
    @include subheader;
    margin-bottom: 1.5rem;
  }
  &__label {
    @include labels-links-buttons;
    font-weight: 700;
  }
  &__input {
    height: 36px;
    width: 100%;
    border-radius: 20px;
    padding: 0 1rem;
    border: 1px solid $cloud;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  border-radius: 20px;
  height: 2.25rem;
  width: 100%;
  &:first-of-type {
    margin-right: 1rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: $lightgrey;
    padding: 1rem;
  }
  &--cancel {
    color: $slate;
    background-color: #ffffff;
    border: 1px solid #bdc5d5;
  }
  &--save {
    background-color: $instock-indigo;
    color: $white;
  }
}
