@use "../../../../styles/colours" as *;
@use "../../../../styles/global" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/typography" as *;

.input {
  &__label {
    @include labels-links-buttons;
    font-weight: 700;
    position: relative;
  }
  outline: none;
  height: 36px;
  width: 100%;
  border-radius: 20px;
  padding: 0 1rem;
  border: 1px solid $cloud;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  &:focus {
    border: 1px solid $instock-indigo;
  }
  &--not-valid {
    border: 1px solid $red;
  }
}
